/* Root scope make coloers into variables*/
:root {
  --primary-color: #047aed;
  --secondary-color: #1c3fa8;
  --dark-color: #002240;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;

  --main-text: black;
  --secondary-text: #4b5156;
  --background-dark:#eaeaea;
  --background-bright:#fff;
  --border-color: red;

  --preview-bg:rgb(251, 249, 243, 0.8);
	--preview-shadow:#f0ead6;
}

/* For all elements*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #333;
  line-height: 1.5; /* To spread things out a little bit */
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

ul {
  list-style-type: none;
}

/* For links */
a {
  text-decoration: none;
  color: #333;
}

/* 
Utilities (used all around the website)
全網頁共有css
*/
.container {
  max-width: 1100px;
  margin: 0 auto; /* first top and buttom, second left and right */
  overflow: auto;
  padding: 0 40px; /* first top and buttom, second left and right */
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* 
Navbar 
*/
.navbar {
  background-color: var(--primary-color);
  color: #fff;
  height: 70px;
}


.navbar ul {
  display: flex;
}


.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;
}

/* when you mouse over them */
.navbar a:hover {
  border-bottom: 2px #fff solid;
}


.navbar .flex {
  justify-content: space-between;
}

/* Showcase */

.showcase-dark {
  background-color: var(--background-dark);
  border-bottom:1px solid var(--border-color);
  overflow: auto;
}

.showcase-bright {
  background-color: var(--background-bright);
  border-bottom: 1px solid var(--border-color);
  overflow: auto;
}

/* First section */
.greeting-wrapper{
  font-family: 'Russo One', sans-serif;
	display: grid;
	text-align: center;
	align-content: center;
	min-height: 8em;

}

.intro-wrapper{
	background-color: var(--background-bright);
	border:1px solid var(--border-color);
	border-radius:5px 5px 0 0;


	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

	display: grid; /* make intro-wrapper to grid area */
	grid-template-columns: repeat(2, 1fr);
}

.left-column{
	padding-top:50px;
	padding-bottom: 50px;
}

/* 大頭照 */
#profile_pic{
	display: block;
	margin:0 auto;

	height: 200px;
	width: 200px;
  border:2px solid var(--border-color);
  border-radius: 50%;
}

.right-column{
	display: grid;
	align-content: center;

	padding-top: 50px;
	padding-bottom: 50px;
}

#preview-shadow{
	background-color: var(--preview-shadow);
	max-width: 300px;
	height: 180px;
	padding-left: 30px;
	padding-top: 30px;
}

#preview{
	width: 300px;
	border:1.5px solid #17a2b8;
	background-color: var(--preview-bg);
  padding:15px;
  
}  



/* Footer */
.footer {
  background-color: var(--primary-color);
  margin: 0 10px;
}